.swipeButtons {
    position: fixed;
    bottom: 0.1vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.swipeButtons .MiuIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.swipeButtons_left {
    padding: 3vw !important;
    color: #ec5e6f !important;
}
.swipeButtons_right {
    padding: 3vw !important;
    color: #44A1A0 !important;
}